---
import { Image } from 'astro:assets';
import BigBulbIcon from '../assets/BigBulbIcon.astro';
import pqrextractor from '../assets/projects/pqrextractor.png';
import HECEV from '../assets/projects/HECEV.png';
import BookHabit from '../assets/projects/bookhabit.png';
import ATEM from '../assets/projects/ATEM.png';
import LinkIcon from '../assets/LinkIcon.astro';

const projects = [
  {
    title: 'PQRExtractor',
    description:
      'Herramienta web y móvil que hace uso de un modelo entrenado de lenguaje natural para clasificar los PQRs que llegan a la Empresa de Energía de Pereira.',
    link: '',
    img: pqrextractor,
    visibility: 'Privado',
    tags: [
      'React',
      'React-Native CLI',
      'Android',
      'TypeScript',
      'Python',
      'Flask',
      'Deep Learning',
    ],
  },
  {
    title: 'ATEM',
    description:
      'Herramienta web y móvil para la extracción automática de términos de literatura científica en Internet de la Cosas (IoT)',
    link: 'https://atem-web.onrender.com',
    img: ATEM,
    visibility: 'Público',
    tags: [
      'React',
      'React-Native CLI',
      'JavaScript',
      'Python',
      'Flask',
      'NLTK Toolkit',
    ],
  },
  {
    title: 'HECEV',
    description:
      'Herramienta web que implementa un modelo matemático para evaluar, proyectar y predecir el consumo de energía y las emisiones de los vehículos.',
    link: 'https://hevc-actualizado.web.app/#/login',
    img: HECEV,
    visibility: 'Público',
    tags: ['React', 'JavaScript', 'Firebase', 'SASS'],
  },
  {
    title: 'BookHabit',
    description:
      'App móvil para ayudar a crear un hábito de lectura. Permite generar estadísticas de la velocidad de lectura, así como gestionar los libros que se están leyendo, que se desean leer o que se han leído.',
    link: 'https://play.google.com/store/apps/details?id=com.alejomora15.bookhabitapp&hl=es_CO&gl=US',
    img: BookHabit,
    visibility: 'Público',
    tags: [
      'React-native Expo',
      'TypeScript',
      'GoogleCloud',
      'Supabase',
      'Zustand',
      'Android',
    ],
  },
];
---

<article
  id='projects'
  class='flex flex-col min-h-screen items-center justify-center mr-4 mb-16 mt-2'
>
  <div class='sm:w-9/12'>
    <header class='flex gap-4 items-center mb-10'>
      <BigBulbIcon />
      <h1 class='sm:text-5xl text-3xl text-blue-200 font-bold'>Proyectos</h1>
    </header>
    {
      projects.map(({ description, img, link, tags, title, visibility }) => (
        <section class='px-2 py-8 sm:px-6 border-b-2 border-b-slate-600 flex flex-col xl:flex-row gap-4'>
          <Image
            class='h-full lg:h-56 w-auto object-cover rounded-lg shadow-xl'
            src={img}
            alt={title}
          />
          <div class='flex flex-col justify-around gap-4 xl:gap-0'>
            <div class='flex flex-row gap-2  items-center'>
              <h1 class='text-2xl text-blue-200 font-semibold'>{title}</h1>
              <a
                class={
                  link === ''
                    ? 'hidden'
                    : 'cursor-pointer hover:scale-110 transition-all ease-in'
                }
                href={link}
                target='_blank'
              >
                <LinkIcon />
              </a>
            </div>
            <span
              class:list={[
                'text-center rounded-full ring-2 w-fit px-4 py-1 text-xs text-slate-200',
                {
                  'bg-red-900 ring-red-700': visibility === 'Privado',
                  'bg-green-600 ring-green-600': visibility === 'Público',
                },
              ]}
            >
              {visibility}
            </span>
            <p class='text-blue-100 text-sm'>{description}</p>
            <div class='flex flex-wrap gap-3'>
              {tags.map((label) => (
                <span class='text-center rounded-full ring-2 w-fit px-2 py-1 text-xs text-slate-200'>
                  {label}
                </span>
              ))}
            </div>
          </div>
        </section>
      ))
    }
  </div>
</article>
